.home{

    margin: 0;
    padding: 0;
    .side-menu{
        margin: 0;
        padding: 0;
        width: 300px;
        height: 100vh;
        background-color: black;
        .side-menu-title{
            padding-top: 30px;
            color: white;
        }
    }
    .main-content{
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;

    }
}

